/*Remove footer at login gate*/
.gate-footer {
    display: none;
}

/*Remove Battlelog footer*/
#footer{
    display: none;
}

/*Remove Battlelog advertisement block*/
.advirticement{
    display: none;
}

/*Remove feedback tab*/
#feedback-popup-opener-tab{
    display: none;
}

/*Remove base game selector*/
.row base-game-selector {
    display: none !important;
}

/**/
.btn-get-game {
    display: none !important;
}

